ion-item-divider {
  min-height: 1px !important;
}
ion-progress-bar {
  height: 30px;
}
#wheel {
  left:20%;
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
progress {
  width:100%;
  border-radius: 10px;
  background-color: aqua;
}
#startCircle{
  left:20%;
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}


