<ion-header>
  <ion-toolbar>
    <ion-title>Sporlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid >
      <div class="cont">
    <ion-row class="row1">
      <ion-col>
        <div>
            <a class="sportButton gym "   (click)="goToGoal()"  ><div class="secondCircle"><ion-img src="/assets/pics/black-bike.png"></ion-img></div></a>
        </div>
      </ion-col>
      <ion-col >
        <div>
            <a class="sportButton outdoor-gym" (click)="goToGoal()" ><div class="secondCircle"><ion-img style="transform: scale(1.5);" src="/assets/pics/outdoor-gym2.png"></ion-img></div></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
            <a class="sportButton outdoor-gym" (click)="goToGoal()" ><div class="secondCircle"><ion-img style="transform: scale(1.5);" src="/assets/pics/outdoor-gym3.png"></ion-img></div></a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col>
        <div>
            <a class="sportButton gym" (click)="goToGoal()" ><div class="secondCircle"><ion-img src="/assets/pics/row.png"></ion-img></div></a>
        </div>
      </ion-col>
      <ion-col >
        <div>
            <a class="sportButton gym"   (click)="goToGoal()" ><div class="secondCircle"><ion-img src="/assets/pics/black-gym-bike.png"></ion-img></div></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
            <a class="sportButton outdoor-gym"  (click)="goToGoal()" ><div class="secondCircle"><ion-img style="transform: scale(1.5);" src="/assets/pics/outdoor-gym4.png"></ion-img></div></a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row3">
        <ion-col>
          <div>
              <a class="sportButton gym"  (click)="goToGoal()" ><div class="secondCircle"><ion-img src="/assets/pics/black-gym-bike-sit.png"></ion-img></div></a>
          </div>
        </ion-col>
        <ion-col >
          <div>
              <a class="sportButton gym"  (click)="goToGoal()" ><div class="secondCircle"><ion-img src="/assets/pics/black-gym-bike2.png"></ion-img></div></a>
          </div>
        </ion-col>
        <ion-col>
          <div>
              <a class="sportButton outdoor-gym"  (click)="goToGoal()" ><div class="secondCircle"><ion-img style="transform: scale(1.5);" src="/assets/pics/outdoor-gym1.png"></ion-img></div></a>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>